
html {
    font-family: 'Libre Baskerville', serif;
    padding: 2em;
    
}
.topbar {
    height: 20em;
    width: 100%;
    margin-top: .75em;
    display: inline-block;
    text-align: center;
    background-image: url(/img/me.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    
   
}
.name {
    padding-top: .33em;
    font-size: 3em;
    word-spacing: 1em;
    letter-spacing: .5em;
    font-family: 'Eagle Lake', cursive;
    color: rgba(104, 154, 193, .75);
}
.navigation {
    padding-right: 3em;
}
.horizontal {
    display: block;
}

.navigation li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
   
}

.navigation li a {
    text-decoration: none;
    font-weight: bold;
    color: #5A712C;
    padding: 1.2em;
     margin-right: 1em;
    margin-left: 1em;
    padding-right: 1em;
     background: rgba(170,170,170, .5);
    list-style: none;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
    
}

.navigation li a:hover {
    background: rgba(74, 51, 33,.75);
    color:  rgba(160, 209, 60, 0.78);
    transform: scale(1.5);
}

.minititle {
    background: rgba(74, 51, 33,.75);
    width: 60%;
    margin-left: 2em;
    margin-bottom: 1.5em;
    margin-top: 4em;
    font-size: 1.25em;
    color: rgb(104, 154, 193);
    padding: .5em;
}

.paragraph {
    text-align: left;
    line-height: 1.5em;
    width: 70%;
    margin: 1.5em auto;
    padding: 1em;
}

.thumbs {
   text-align: left;
    line-height: 1.5em;
    width: 95%;
    margin: 1.5em auto;
    padding: 1em;  
}

li {
    list-style: none;
    padding-top: .5em;
}

.divider {
    background: rgba(74, 51, 33,.75);
    text-align: left;
    font-size: 1em;
    color: rgb(104, 154, 193);
    width: 75%;
    margin-left: 4em;
    margin-top: 3em;
    padding: .4em;
}




/* Portfolio Styling */

.thumbs li, .fullsize li {
  float: left;
  list-style: none;
  margin: 1em;
}

h3 {
  clear: left;
}

.fullsize {
  position: absolute;
}

.fullsize img {
  position: absolute;
  top: 40px;
  left: 40px;
}

/* Thumb Image Sizes */
.thumbs li {
    padding-bottom: 4em;
}

.monogram {
    width: 11.125em;
    height: 9em;
/*
    width: 178px;
    height: 144px;
*/
}


.childhood {
    width: 7em;
    height: 9.25em;
/*
    width: 144px;
    height: 180px;
*/
}


.paperclip {
    width: 5.50em;
    height: 8.79em;
/*
    width: 103.125px;
    height: 159.25px;
*/
}

.red {
    width: 8.52em;
    height: 5em;
/*
    width: 159.375px;
    height: 103.125px;
*/
}

.colorpalette {
    width: 11.325em;
    height: 8.512em;
/*
    width: 198px;
    height: 153px;
*/
}

/* Use :nth-child to add borders to 1st, 2nd, 3rd */

.thumbs li:nth-child(1) a {
  
  display: inline-block;   
}
.thumbs li:nth-child(2) a {
  display: inline-block;
}
.thumbs li:nth-child(3) a {
  display: inline-block;
}
.thumbs li:nth-child(4) a {
  display: inline-block;
}
.thumbs li:nth-child(5) a {
  display: inline-block;
}

/* Fullsize Image Size (792 X 612)   */

#fullsize-1 {
    width: 792px;
    height: 612px;
}

#fullsize-2 {
    width: 576px;
    height: 720px;
}

#fullsize-3 {
    width: 412.5px;
    height: 637.5px;
}

#fullsize-4 {
     width: 637.5px;
    height: 412.5px;
}

#fullsize-5 {
     width: 792px;
    height: 612px;
}


/* Change Borders of Full Size Images */ 
#fullsize-1:target {
  z-index: 1;
  /* z-index changes stacking order*/ 
}
#fullsize-2:target {
  z-index: 2;
}
#fullsize-3:target {
  z-index: 3;
}
#fullsize-4:target {
  z-index: 4;
}
#fullsize-5:target {
  z-index: 5;
}
/* Fancify */
.fullsize img {
  opacity: 0;
  transition: opacity 1s;
}
.fullsize img:target {
  opacity: 1;
}


/* Background Change */

.one {
background-image: url(/img/shattered.png);        
}

.two {
background-image: url(/img/light_grey_floral_motif.png);
}


/* Media Queries */
@media screen and (min-width: 64em) {
   
    
 }

@media screen and (max-width: 64em) {

    .name {
        font-size: 3em;
    }
   .navigation {
       padding: .5em;
   margin: .5em;
  }    
    .minititle {
        font-size: 1.25em;
    }
    .paragraph {
        font-size: 1em;
    }
    .divider {
        font-size:.75em;
    }
}

@media screen and (max-width: 48em) {
        html {background: green;}
    .name {
        font-size: 2em;
    }
   .navigation li a {
       font-size: .75em;
       padding: 1em;
       margin: .25em;
  }    
    
    .minititle {
        font-size: 1em;
    }
    .paragraph {
        font-size: .75em;
    }
    .topbar {
        height: 15em;
    }
    .divider {
        font-size:.6em;
    }
      .thumbs li {
        transform: scale(.75);
        display: block;
        margin: .5em;
        padding: .5em;
          float: left;
    }
    .fullsize img {
transform: scale(.5);
        transform-origin: 0% 0%;
        margin: 1em;
        padding: .5em;
    }
}

@media screen and (max-width: 30em) {
    
      .name {
        font-size: 1.5em;
    }
   .navigation li a {
       font-size: .55em;
       padding: 1em;
       margin: .15em;
  }    
    .minititle {
        margin: 1em;
        font-size: .75em;
    }
    .paragraph {
        font-size: .5em;
    }
    .topbar {
        margin: 1em;
        height: 10em;
    }
     .divider {
        font-size:.5em;
    }
    .thumbs li {
        transform: scale(.75);
        display: block;
        margin: .5em;
        padding: .5em;
    }
    .fullsize img {
transform: scale(.25);
        transform-origin: 0% 0%;
        margin:.25em;
        padding: .25em;
    }
}