/*
li {
    background: red;
    margin: 30px;
    text-decoration: none;
}
*/

/* Portfolio Styling */

.thumbs li {
  float: left;
  list-style: none;
  margin: 5px;
}

h3 {
  clear: left;
}

.fullsize {
  position: relative;
}

.fullsize img {
  position: absolute;
  top: 40px;
  left: 40px;
}

/* Use :nth-child to add borders to 1st, 2nd, 3rd */
.thumbs li:nth-child(1) a {
  border: 5px solid red;
  display: block;
}
.thumbs li:nth-child(2) a {
  border: 5px solid green;
  display: block;
}
.thumbs li:nth-child(3) a {
  border: 5px solid blue;
  display: block;
}
/* Change Borders of Full Size Images */ 
#fullsize-1:target {
  border: 5px solid red;
  z-index: 1;
  /* z-index changes stacking order*/ 
}
#fullsize-2:target {
  border: 5px solid green;
  z-index: 2;
}
#fullsize-3:target {
  border: 5px solid blue;
  z-index: 3;
}
/* Fancify */
.fullsize img {
  opacity: 0;
  transition: opacity 1s;
}
.fullsize img:target {
  opacity: 1;
}
